@charset "utf-8";

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: no-display;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  position: relative;
/*   background: #0f0031; */

  background: skyblue;
}

.PC {
  display: none;
}


/*======================== animation ========================*/


.fade-in {
  animation-name: anim--fade-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: .3;
}

@keyframes anim--fade-in {
  from {
    opacity: .3;
  }

  to {
    opacity: 1;
  }
}

.fade-up {
  animation-name: anim--fade-up;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes anim--fade-up {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, -70px);
  }
}


/*======================== header slider ========================*/


.header__slider--wrap {
  width: 100vw;
  position: relative;
}

.header__slider {
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
  pointer-events: none;
}

.header__slider__item__img {
  width: 100vw;
  height: 750px;
  object-fit: cover;
}

.header__slider .slick-slide {
  margin: 0;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 42%;
  cursor: pointer;
  outline: none;
  border-top: 2px solid #666;
  border-right: 2px solid #666;
  height: 15px;
  width: 15px;
}

.slick-prev {
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next {
  right: -1.5%;
  transform: rotate(45deg);
}

.slick-dots {
  text-align: center;
  margin: 20px 0 0 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background: #ccc;
}

.slick-dots .slick-active button {
  background: #333;
}


/*======================== header slider text ========================*/


.header__logo {
  height: 100px;
  position: absolute;
  top: 20px;
  left: 20px;
  background: transparent;
}

.header__logo p {
  color: #fff;
  font-size: 1.5rem;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HGS明朝B", "ＭＳ Ｐ明朝", serif;
  text-align: left;
  line-height: 40px;
  text-shadow: 0px 0px 10px #1a0057;
}

.header__logo span {
  font-size: 2.5rem;
  font-weight: bold;
}

.header__slider__txt-img-wrap {
  width: 100vw;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate( -50%, -50%);
  filter: drop-shadow(0px 0px 2px #1a0057);
}

.header__slider__txt-img-wrap img {
  width: 100vw;
}


/*======================== footer ========================*/


footer {
  position: absolute;
  bottom: -180px;
  width: 100vw;
  height: 180px;
  background: #0f0031;
}

.contact {
  text-align: center;
  margin: 15px; 
}

.contact p {
  margin-bottom: 5px;
  color: #fff;
  font-size: 1.1rem;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HGS明朝B", "ＭＳ Ｐ明朝", serif;
  filter: drop-shadow(0px 0px 1px #1a0057);
  line-height: 30px;
}

.contact img {
  margin-bottom: 5px;
  width: 200px;
  height: auto;
  border-radius: 5px;
}

footer small {
  margin-top: 15px;
  color: #fff;
  font-size: .8rem;
  display: block;
  text-align: center;
}
